# JSONBin Configuration for Like Counter
# Get your ID from: https://jsonbin.io/
# Get your API Key from: https://jsonbin.io/account/

VITE_JSONBIN_ID=your_jsonbin_id_here
VITE_JSONBIN_API_KEY=your_jsonbin_api_key_here
